.title {
    color: white;
    font-size: 20vh;
    padding-top: 1vh;
    text-align: right;
}

.container-port {
    margin-left: 31%;
    padding-top: 40px;
    padding-bottom: 100px;
    padding-right: 25px;
}

.col-md-10 {
    margin-left: auto;
    margin-right: auto;
}
.blue {
    background-color:  rgba(44, 146, 241, 0.8);
    /* padding-left: 30px; */
    position: relative;
    height: fit-content;
    /* text-align: center; */
    border-radius: 25px;
    
}

.link-buttons {
    margin: 0 auto;
}
.image1 {
    height: 40vh;
    width: auto;
    margin-top: 5vh;
    margin-left: 1vw;
    margin-bottom: 1vw;
    border-radius: 15px;
    float: right;

}

.port-description {
    margin-top: 5vh;
    font-size: 3.5vh;
    color: white;
}

.button-white {
    border: white;
    border-style: solid;
    color: white;
    font-size: 25px;
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
    
}
.button-white:hover {
    color: white;
    text-decoration: none;
    
}

.home-buttons a:hover {
    background-color: rgb(255, 255, 255, .3);
}


@media (max-width: 900px) {

    .title {
        color: white;
        font-size: 25vw;
        /* padding-top: 25px; */
        text-align: center;
    }

    .container-port {
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        padding-left: auto;
        padding-right: auto;
        width: 100vw;
    }

    .blue {
        margin-left: 0;
        margin-right: 0;
        width: 100vw;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 50px;
    }

    .col-md-10 {
        margin-left: 0;
        margin-right: 0;
    }

    .row {
        margin: 0;
    }

    .blue p {
        color: white;
        font-size: 22px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        text-align: center;
    }

    .image1 {
        margin-bottom: 20px;
        padding: 0;
        height: auto;
        width: 100%;
        margin-right: auto;
        margin-left: auto;

        /* .image1 {
    height: 40vh;
    width: auto;
    margin-top: 5vh;
    margin-left: 1vw;
    margin-bottom: 1vw;
    border-radius: 15px;
    float: right;

} */
    }
}