.title {
    color: white;
    font-size: 100px;
    padding-top: 25px;
    text-align: center;
}

.container-port {
    margin-left: 35%;
    padding-top: 100px;

}

.col-md-10 {
    margin-left: auto;
    margin-right: auto;
}
.blue {
    background-color:  rgba(44, 146, 241, 0.8);
    padding-left: 30px;
    max-width: 1100px;
    height: fit-content;
    text-align: center;
}

.blue p {
    color: white;
    font-size: 22px;
}

.image1 {
    max-height: 300px;
    width: auto;
    margin-bottom: 20px;
    padding: 0;
}