
.col-md-10 {
    margin-left: auto;
    margin-right: auto;
}
.blue {
    background-color:  rgba(44, 146, 241, 0.8);
    padding-left: 30px;
    max-width: 1100px;
    height: fit-content;
    text-align: center;
}


.image2 {
    max-height: 300px;
    width: auto;
    margin-bottom: 10px;
    padding: 0;
}

.button-white {
    border: white;
    border-style: solid;
    color: white;
    font-size: 25px;
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
    
}
.button-white:hover {
    color: white;
    text-decoration: none;
    
}

.home-buttons a:hover {
    background-color: rgb(255, 255, 255, .3);
}


@media (max-width: 900px) {

    .title {
        color: white;
        font-size: 70px;
        padding-top: 25px;
        text-align: center;
    }

    .container-port {
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        padding-left: auto;
        padding-right: auto;
        width: 100vw;
    }

    .blue {
        margin-left: 0;
        margin-right: 0;
        width: 100vw;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 50px;
    }

    .col-md-10 {
        margin-left: 0;
        margin-right: 0;
    }

    .row {
        margin: 0;
    }

    .blue p {
        color: white;
        font-size: 22px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    .image2 {
        margin-bottom: 20px;
        padding: 0;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}