.home-heading {
    color: white;
    font-size: 200px;
    text-align: right;
    padding-right: 50px;
}
.home-subheading {
    color: white;
    text-align: right;
    padding-right: 50px;
}

.home-buttons {
    text-align: right;
    padding-bottom: 50px;
    padding-right: 20px;
}
.button-white {
    border: white;
    border-style: solid;
    color: white;
    font-size: 25px;
    margin-top: 50px;
    text-transform: uppercase;
    
}

.button-white:hover {
    color: white;
    text-decoration: none;
    
}

.home-buttons a:hover {
    background-color: rgb(255, 255, 255, .3);
}

@media (max-width: 900px) {
    .home-heading{
        font-size: 75px;
        padding: 10px;
    }
    .home-subheading{
        font-size: 25px;
        padding: 10px;
    }
    .site-main {
        background-image: url("https://d3e1m60ptf1oym.cloudfront.net/1877c674-d86d-41cd-a8d7-0d6948c0da4c/DSC8215-Charlotte-Skyline-Black-White-Image_xgaplus.jpg");
        background-size: cover;
        min-height: 100vh;
    }

    .home-buttons {
        text-align: center;
        padding: 0px;
    }

    .button-white {
        margin-top: 20px;
        
        
    }
    }

    @media screen and (min-width: 900px) and (max-width:1700px) {
        .home-heading{
            font-size: 105px;
            padding: 10px;
        }
        .home-subheading{
            font-size: 24px;
            padding: 10px;
        }
      }
    