

*, :after, :before {
    box-sizing: inherit;
}

.site-sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    width: 32%;
    font-size: 14px;
    color: #fff;
    text-align: left;
    background-color: rgba(44, 146, 241, 0.8);
}

.dl-vertical, .site-sidebar {
    overflow: hidden;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

.site-sidebar .site-sidebar-inner {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 45px 40px;
    align-items: center;
}

.site-sidebar .person {
    text-align: center;
}

.person {
    color: inherit !important;
}

.person .person-avatar {
    border-radius: 50%;
    margin-bottom: 10px;
}
.u-photo img {
    border-radius: 50% !important;
    
}
.person .person-content {
    margin-left: -40px;
    margin-right: -40px;
}

.main-navigation {

    line-height: 30px;
    position: relative;
    font-size: 14px;
}

.main-navigation a {
    color: #ccc;
    color: rgba(255,255,255,.6);
    display: inline-block;
}

.main-navigation .navigation-extend-bar {
    font-size: 18px;
    border: 1px solid rgba(255,255,255,.2);
    border-width: 1px 0;
    display: none;
}

.main-navigation .navigation-extend-bar a {
    display: inline-block;
}

.block-title a, .social-icons.social-icons a {
    color: #fff;
    color: rgba(255,255,255,.6);
}
.social-icons {
    text-align: center;
}
.button.button-icon {
    padding: 0;
    margin-right: .2em;
}

.main-navigation ul, .main-navigation ul>li {
    margin: 0;
    padding: 0;
}

.main-navigation ul, .site-sidebar .posts-list, .tech-icons, .tech-tags, .timeline>ul {
    list-style: none;
} 

ul {
    margin-left: auto;
    margin-right: auto;
    padding: 0 !important;
}

.main-navigation, .person .person-content .person-title, .site-sidebar .block .block-title, h1, h2, h5 {
    text-transform: uppercase;
}

.cv-tech-tags a:hover, .main-navigation a, .person, .person:hover, .portfolio-timeline .project-link, .site-sidebar .posts-list a {
    text-decoration: none;
}

.button.button-red, .home-section, .person, .project-subtitle, .project-title, h1, h2 {
    -webkit-font-smoothing: antialiased;
}

.site-sidebar .block+.block {
    margin-top: 45px;
}

.site-sidebar .block-social {
    font-size: 22px;
}

.site-sidebar .block .block-title {
    font-size: 32px;
    font-weight: 300;
    color: #aaa;
    color: rgba(255,255,255,.5);
    margin-bottom: 15px;
    padding-top: 30px;

}

.button.button-icon {
    padding: 0;
    margin-right: .2em;
}

.button.button-icon:hover {
    color: white;
}


.button {
    padding: .4em .8em;
    font-size: 35px;
    line-height: 1;
    margin-right: 10px;
    margin-left: 10px;
}

.button, .icon, .tech-icon {
    display: inline-block;
}

a {
    text-decoration: none;
}


li a {
    font-size: 27px;
    padding-top: 10px;
}

li a:hover {
    color: white;
}

.social-icons {
    width: 100%;
    text-align: center;
    padding: 0;

}
.button-icon {
    display: inline-block;
}

@media (max-width: 900px) {

    .site-sidebar {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height: auto;
        font-size: 14px;
        color: #fff;
        text-align: center;
        background-color: rgb(44, 146, 241);
    }

    .main-navigation .navigation-extend-bar a {
        display: inline;
    }
    .navigation-extend-bar {
        display: block;
    }
    .block-social {
        display: inline;
    }
    .block-title {
        display: none;
    }
    .social-icons {
       margin-left:20px;
        width: 100%;
        text-align: center;
        padding: 0;
    
    }

  }

  @media screen and (min-width: 900px) and (max-width:1700px) {
    .site-sidebar .block-social {
        font-size: 16px;
    }
    
    .site-sidebar .block .block-title {
        font-size: 26px;
        font-weight: 300;
        color: #aaa;
        color: rgba(255,255,255,.5);
        margin-bottom: 15px;
        padding-top: 30px;
    
    }
    
  }
